@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VTBGroupUI';
  font-weight: 300;
  src: url(/fonts/VTBGroupUI-Light.ttf);
}

@font-face {
  font-family: 'VTBGroupUI';
  font-weight: 400;
  src: url(/fonts/VTBGroupUI-Regular.ttf);
}

@font-face {
  font-family: 'VTBGroupUI';
  font-weight: 500;
  src: url(/fonts/VTBGroupUI-Medium.ttf);
}

@font-face {
  font-family: 'VTBGroupUI';
  font-weight: 600;
  src: url(/fonts/VTBGroupUI-DemiBold.ttf);
}

@font-face {
  font-family: 'VTBGroupUI';
  font-weight: 800;
  src: url(/fonts/VTBGroupUI-Bold.ttf);
}

.leaflet-bottom.leaflet-right {
  display: none;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

@media all and (display-mode: standalone) {
  body {
    height: 100%;
  }
}

